:root {
  --type-any-dark: rgb(192, 131, 0);
  --type-any-light: rgb(255, 239, 204);
  --type-avatar-dark: #900;
  --type-avatar-light: #fdd;
  --type-world-dark: #069;
  --type-world-light: #dff;
}

.hide {
  display: none !important;
}

p {
  color: #333;
  padding: 0;
  margin: 0;
  line-height: 1.5em;
}

label,
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}

.button {
  display: inline-block;
  line-height: 1.2em;
  vertical-align: middle;
  font-size: small;
  text-decoration: none;
  text-align: center;
  padding: 0.5em 1em;
  border-radius: 0.3em;
  border: 1px solid #ccc;
  background: #fff;
  color: #333;
  cursor: pointer;
}
.button:hover {
  background: #f3f3f3;
}
.button:active {
  background: #f0f0f0;
}
.button.primary {
  background: #07d;
  color: #fff;
  border-color: #07d;
}
.button.primary:hover {
  background: #05b;
}
.button.primary:active {
  background: #03a;
}

input {
  font-size: small;
  padding: 0.5em 0.7em;
  border-radius: 0.3em;
  border: 1px solid #ccc;
  background: #fff;
  color: #333;
}

body {
  font-family: "Helvetica Neue", "Hiragino Kaku Gothic ProN", "Hiragino Sans",
    "Segoe UI", Meiryo, Tahoma, Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.container {
  margin: auto;
  max-width: calc(min(1000px, 100%));
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.container > .title {
  margin: 0;
  text-align: center;
  font-size: 2rem;
  color: #333;
}

.container > .title img {
  max-width: 100%;
}

.container > .information {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: .2em;
}

.information .description {
  color: #777;
}

.information .url {
  width: 30em;
}

@media screen and (max-width: 600px) {
  .information .url {
    width: 90%;
  }
}

.container > .search {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.search .query {
  width: 30em;
}

@media screen and (max-width: 600px) {
  .search .query {
    width: 90%;
  }
}

.search .type {
  font-size: small;
  padding: .3em .4em;
  border-radius: .5em;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
}
.search .type input {
  display: none;
}
.search .type.Any {
  color: var(--type-any-dark);
  border-color: var(--type-any-dark);
}
.search .type.Any:has(:checked) {
  color: #fff;
  background: var(--type-any-dark);
}
.search .type.Avatar {
  color: var(--type-avatar-dark);
  border-color: var(--type-avatar-dark);
}
.search .type.Avatar:has(:checked) {
  color: #fff;
  background: var(--type-avatar-dark);
}
.search .type.World {
  color: var(--type-world-dark);
  border-color: var(--type-world-dark);
}
.search .type.World:has(:checked) {
  color: #fff;
  background: var(--type-world-dark);
}

@media screen and (max-width: 600px) {
  .container > .search {
    flex-wrap: wrap;
  }
}

.packages {
  overflow: auto;
  margin: auto;
  width: 95%;
  height: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-shadow: 0 0 2px #ddd, 0 2px 4px #ddd;
  padding: 0 -1px;
}

.package {
  width: calc(100% - 2rem - 2px);
  border-bottom: 1px solid #ddd;
  padding: 1rem;
  display: flex;
}

@media screen and (max-width: 600px) {
  .package {
    flex-direction: column;
    gap: 0.5em;
  }
}

.package > .information {
  width: calc(100% - 2rem - 10rem - 2px);
}

.package > .actions {
  width: calc(10rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
}

.package > .information > .header {
  display: flex;
  justify-content: start;
  gap: 1rem;
  align-items: center;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 600px) {
  .package > .information {
    width: 100%;
  }
  .package > .actions {
    width: 100%;
  }
  .package > .information > .header {
    flex-wrap: wrap;
  }
}

.package > .information > .header > .displayName {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.package > .information > .header > .version {
  font-size: smaller;
  border-radius: .3em;
  border: 1px solid #777;
  padding: calc(.2em - 2px) .4em;
}

.package > .information > .header > .type {
  font-size: smaller;
  border-radius: .3em;
  padding: calc(.2em - 2px) .4em;
}
.package > .information > .header > .type.Any {
  background: #ffc;
}
.package > .information > .header > .type.Avatar {
  background: #fdd;
}
.package > .information > .header > .type.World {
  background: #dff;
}

.package > .information > .header > .unity {
  font-size: smaller;
  border-radius: .3em;
  background: #dfd;
  padding: calc(.2em - 2px) .4em;
}

.package > .information > .header > .unity::before {
  content: "Unity >=";
}

.package > .information > .header > .license {
  font-size: smaller;
  border-radius: .3em;
  background: #eee;
  padding: .2em .4em;
}

.package > .information > .header > .license::before {
  content: "LICENSE: ";
}

.package > .information > .name {
  font-size: smaller;
}
.package > .information > .description {
  color: #888;
}

.package > .information > .dependencies {
  margin: 0;
  margin-left: 1em;
  padding: 0;
  font-size: smaller;
  color: #36c;
  list-style: none;
}

.package > .information > .dependencies > .dependency {
  display: flex;
  gap: 1em;
}
